<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{UTF}}">
    <title>META TAGS</title>
    <meta name="author" content="Fedor Kabachenko">
    <meta name="description" content="My first attempt to implement meta tags">
    <meta name="keywords" content="beeline, билайн, beeinterns, frontend">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 style="color:darkblue; font-size:30px; font-style:Helvetica;">Lesson #4 by Sveltana Mityukhina</h1>
    <div>
        <p class="light">
            The aim of this lecture was to introduce students the basics of CSS styles. I have studied it a bit, and there is my attempt to implement
            them in my homework.
        </p>
        <p class="regular">        
            The aim of this lecture was to introduce students the basics of CSS styles. I have studied it a bit, and there is my attempt to implement
            them in my homework.
        </p>
    </div>
</body>
</html>