@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Roboto-Light.woff);
    }
    
    
@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src:url(fonts/Roboto-Regular.woff);
    }

.light {
    font-family: 'Roboto Light', sans-serif;
}

.regular {
    font-family: 'Roboto Regular', sans-serif;
}